* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #690179;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo {
    width: 30px;
    margin-top: -7;
    margin-right: 48px;
}

.active {
    color: #19dafa ! important;
}

.btn-entrar {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.btn-entrar span {
    display: block;
    padding: 8px 22px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #fff;
}

.app-text {
    width: 50%;
    float: left;
}

.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}

.imagem-pagina {
    width: 50%;
    float: right;
}

.imagem-pagina img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
    ;
}

.play-btn {
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}

.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 13px;
    ;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 2px;
}

.links-rapidos {
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}

.links-rapidos ul {
    display: inline-flex;
    margin: 20px 420px;
    text-align: center;
}

.links-rapidos li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.links-rapidos .fa {
    font-size: 25px;
    padding: 10px;
}

.links-rapidos p {
    font-size: 12px;
}

.social-icons {
    right: 70px;
    bottom: 155px;
    position: absolute;
}

.social-icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.social-icons ul li a {
    color: #999;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}